In [1]:
import pandas as pd

##### Loading the Data

In [22]:
data = pd.read_excel("InRisk_Labs_Assignment.xlsx") # reading the file and storing as data
data.head()

     Region       Date  Rainfall_mm
0  Region_A 2024-01-01        4.965
1  Region_A 2024-01-02       27.729
2  Region_A 2024-01-03       12.881
3  Region_A 2024-01-04       32.818
4  Region_A 2024-01-05       36.127

##### Investigating if there are any outliers or not

In [23]:
data.describe() # data is consisting of a very large value and some negative values which are not possible

                      Date   Rainfall_mm
count                  455  4.550000e+02
mean   2024-02-15 00:00:00  4.052024e+06
min    2024-01-01 00:00:00 -6.301700e+01
25%    2024-01-23 00:00:00  2.289500e+01
50%    2024-02-15 00:00:00  4.730800e+01
75%    2024-03-09 00:00:00  7.652750e+01
max    2024-03-31 00:00:00  1.843649e+09
std                    NaN  8.643157e+07

In [26]:
data[data["Rainfall_mm"]>100] # 1 outlier

       Region       Date   Rainfall_mm
212  Region_C 2024-01-31  1.843649e+09

In [27]:
data[data["Rainfall_mm"]<0] # 2 outliers

       Region       Date  Rainfall_mm
182  Region_C 2024-01-01      -63.017
197  Region_C 2024-01-16      -21.957

##### Cleaning data

In [ ]:
data[(data["Rainfall_mm"]<0) | (data["Rainfall_mm"]>100)] # all the outlier selected

data_cleaned = data[-((data["Rainfall_mm"]<0) | (data["Rainfall_mm"]>100))]
data_cleaned.describe() # removed the 3 outliers

                                Date  Rainfall_mm
count                            452   452.000000
mean   2024-02-15 04:46:43.539823104    49.468361
min              2024-01-01 00:00:00     0.081000
25%              2024-01-23 18:00:00    23.279500
50%              2024-02-15 00:00:00    47.337000
75%              2024-03-09 00:00:00    76.492250
max              2024-03-31 00:00:00    99.502000
std                              NaN    29.875669

For the calculation purposes we will use the cleaned dataset

##### Excess rainfall calculations

In [69]:
excess_rainfall = data_cleaned[data_cleaned["Rainfall_mm"]>60] # filtering the values
excess_rainfall.head()

table = excess_rainfall.groupby("Region")["Region"].count() # grouping by region and the applying count method
table

Region
Region_A    36
Region_B    37
Region_C    43
Region_D    35
Region_E    31
Name: Region, dtype: int64

##### Claim Calculation

In [ ]:
# 10*0 + 20*100 + 6*200 + 0*300 (for logic building)

claims = [] # empty list
for i in table:
    if i <= 10: 
        claims.append(0*100) # if i is less than 10 then claim amount will be considered as this
    elif i <= 30:
        claims.append((i-10)*100 + 0)  # if i is less than 30 then claim amount will be considered as this
    elif i <= 50:
        claims.append((i-30)*200 + 20*100) # if i is less than 50 then claim amount will be considered as this
    else:
        claims.append((i-50)*300 + 20*200 + 20*300) # if i is greater than 50 then claim amount will be considered as this

claims

[3200, 3400, 4600, 3000, 2200]

In [ ]:
table_df = pd.DataFrame([list(table),claims], columns = table.index, index = ["excess rainfall days", "claim amounts"]) # creating result dataframe
table_df = table_df.transpose() # transposing dataframe
table_df # printing final result

          excess rainfall days  claim amounts
Region
Region_A                    36           3200
Region_B                    37           3400
Region_C                    43           4600
Region_D                    35           3000
Region_E                    31           2200